<h1>what did you see</h1>

<form {{action 'newSiting'}}>
  <p>
    <label>City</label>
    <input type="text">
  </p>
  <p>
    <label>State</label>
    <input type="text">
  </p>
  <p>
    <label>AN Rating</label>
    <input type="text">
  </p>

  <button>Submit</button>
</form>

{{outlet}}
